<form name="changePasswordForm" role="form" novalidate ng-submit="submit(changePasswordForm)">

    <div class="form-group">
        <label for="oldPassword">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD' | translate}}</label>
        <input type="text" id="oldPassword" name="oldPassword" class="form-control" ng-model="model.oldPassword" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="32" required>
        <div ng-messages="changePasswordForm.oldPassword.$error" ng-if="changePasswordForm.$submitted || !changePasswordForm.oldPassword.$pristine">
            <div ng-message="required">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_IS_REQUIRED' | translate}}</div>
            <div ng-message="minlength" ng-if="!changePasswordForm.oldPassword.$pristine">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
            <div ng-message="maxlength" ng-if="!changePasswordForm.oldPassword.$pristine">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>

        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD' | translate}}</label>
        <input type="text" id="newPassword" name="newPassword" class="form-control" ng-model="model.newPassword" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="32" required>
        <div ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.$submitted || !changePasswordForm.newPassword.$pristine">
            <div ng-message="required">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_IS_REQUIRED' | translate}}</div>
            <div ng-message="minlength" ng-if="!changePasswordForm.newPassword.$pristine">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
            <div ng-message="maxlength" ng-if="!changePasswordForm.newPassword.$pristine">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>

        </div>
    </div>
    <div class="form-group submit clearfix">
        <button type="submit" class="btn btn-primary btn-block">
            {{'CHANGE_PASSWORD_FORM_SUBMIT' | translate}}
        </button>
    </div>
    <div ng-show="errorCode">
        <div class="error">{{errorCode | translate}}</div>
    </div>
</form>