<form name="resetPasswordForm" role="form" novalidate ng-submit="submit(resetPasswordForm)">

    <div class="form-group">
        <label for="email">{{'RESET_PASSWORD_FORM_EMAIL' | translate}}</label>
        <input type="text" id="email" name="email" class="form-control" ng-model="model.email" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="128" required>
        <div ng-messages="resetPasswordForm.email.$error" ng-if="resetPasswordForm.$submitted || !resetPasswordForm.email.$pristine">
            <div ng-message="required">{{'RESET_PASSWORD_FORM_EMAIL_IS_REQUIRED' | translate}}</div>
            <div ng-message="minlength" ng-if="!resetPasswordForm.email.$pristine">{{'RESET_PASSWORD_FORM_EMAIL_MIN' | translate:'{ min: 6 }'}}</div>
            <div ng-message="maxlength" ng-if="!resetPasswordForm.email.$pristine">{{'RESET_PASSWORD_FORM_EMAIL_MAX' | translate:'{ max: 128 }'}}</div>

        </div>
    </div>
    <div class="form-group submit clearfix">
        <button type="submit" class="btn btn-primary btn-block">
            {{'RESET_PASSWORD_FORM_SUBMIT' | translate}}
        </button>
    </div>
    <div ng-show="errorCode">
        <div class="error">{{errorCode | translate}}</div>
    </div>
</form>