<form name="verifyEmailForm" role="form" novalidate ng-submit="submit(verifyEmailForm)">

    <div class="form-group">
        <label for="emailVerificationCode">{{'VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE' | translate}}</label>
        <input type="text" id="emailVerificationCode" name="emailVerificationCode" class="form-control" ng-model="model.emailVerificationCode" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="64" maxlength="64" required>
        <div ng-messages="verifyEmailForm.emailVerificationCode.$error" ng-if="verifyEmailForm.$submitted || !verifyEmailForm.emailVerificationCode.$pristine">
            <div ng-message="required">{{'VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE_IS_REQUIRED' | translate}}</div>
            <div ng-message="minlength" ng-if="!verifyEmailForm.emailVerificationCode.$pristine">{{'VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE_MIN' | translate:'{ min: 64 }'}}</div>
            <div ng-message="maxlength" ng-if="!verifyEmailForm.emailVerificationCode.$pristine">{{'VERIFY_EMAIL_FORM_EMAIL_VERIFICATION_CODE_MAX' | translate:'{ max: 64 }'}}</div>

        </div>
    </div>
    <div class="form-group submit clearfix">
        <button type="submit" class="btn btn-primary btn-block">
            {{'VERIFY_EMAIL_FORM_SUBMIT' | translate}}
        </button>
    </div>
    <div ng-show="errorCode">
        <div class="error">{{errorCode | translate}}</div>
    </div>
</form>